<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level] [%t] %logger{36}: %msg%n"/>
        </Console>

        <RandomAccessFile name="RandomAccessFile" fileName="bot.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>

        <Sentry name="Sentry" />
    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
            <AppenderRef ref="Sentry" level="WARN" />
        </Root>
        <logger name="com.j256.ormlite.table.TableUtils" level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
            <AppenderRef ref="Sentry" level="WARN" />
        </logger>
        <logger name="com.joestelmach.natty.Parser" level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
            <AppenderRef ref="Sentry" level="WARN" />
        </logger>
    </Loggers>
</Configuration>